@import '../../Misc/mixins';

.add-new-habit-form{
    @include widthAndHeight(calc(min(98%,45rem)),fit-content); 
    @include flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    gap: 1.5rem;
    .add-new-habit-controls{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-between,center);
        gap: 1rem;      
        .archive-habit-wrapper{
            justify-self: start;
            @include flex(center,center);
            .archive-habit-button{
                @include flex(center,center);
                gap: 1rem;
                color: orange;
                .archive-habit-icon{
                    font-size: 23px;
                }
                .archive-habit-text{
                    transform: translateY(1px)
                }
            }
        }   
        .delete-habit-wrapper{
            justify-self: start;
            @include flex(center,center);
            .delete-habit-button{
                @include flex(center,center);
                gap: 1rem;
                color: red;
                .delete-habit-icon{
                    font-size: 23px;
                }
                .delete-habit-text{
                    transform: translateY(1px)
                }
            }
        }   
    }
    .add-new-habit-dates{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex;
        gap: 1rem;
        .add-new-habit-datepicker-wrapper{
            @include flex;
            gap: 0.5rem;
            .add-new-habit-datepicker{
                transform: translateY(-2px);
            }
        }
        .add-new-habit-timepicker-wrapper{
            @include flex;
            gap: 0.5rem;
            .add-new-habit-timepicker{
                transform: translateY(-2px);
            }
        }
    }
    .add-new-habit-alarm-switches{
        @include flex;
        gap: 1rem;
    }
    .add-new-habit-title{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
    }
    .weekdays-selector{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        .weekdays-selector-checkboxes{
            @include flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            .weekdays-selector-checkbox{
                @include flex;
                margin: 0;
            }
        }
    }
    .add-new-habit-buttons{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-around,center);
    }
} 