@import '../../Misc/mixins';

.add-new-habit-form{
    @include widthAndHeight(calc(min(98%,45rem)),fit-content); 
    @include flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    gap: 1.5rem;
    .add-new-habit-controls{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include grid(100%,1fr 8fr 1fr);
        justify-items: center;
        align-items: center;
        .archive-habit{
            grid-area: 1 / 1 / span 1 / span 1;
            .archive-habit-icon{
                font-size: 2rem;
                color: orange;
            }
        }
        .add-new-habit-switch{
            grid-area: 1 / 2 / span 1 / span 1;
        }
        .delete-habit{
            grid-area: 1 / 3 / span 1 / span 1;
            .delete-habit-icon{
                font-size: 2rem;
                color: red;
            }
        }
    }
    .add-new-habit-datetime{
        @include flex;
        gap: 1rem;
    }
    .add-new-habit-alarm-switches{
        @include flex;
        gap: 1rem;
    }
    .add-new-habit-goal-title{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
    }
    .add-new-habit-title{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
    }
    .weekdays-selector{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        .weekdays-selector-checkboxes{
            @include flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            .weekdays-selector-checkbox{
                @include flex;
                margin: 0;
            }
        }
    }
    .add-new-habit-buttons{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-around,center);
    }
} 