@import '../../Misc/mixins';

.habits{
    .habit-controls{
        @include widthAndHeight(calc(min(100%, 70rem)),10vh);
        @include grid(100%,1fr 1fr 1fr);
        justify-items: center;
        align-items: center;
        margin: auto;
    }
    .loading{
        max-height: 100%;
    }
    .habit-list{
        @include widthAndHeight(calc(min(100%, 70rem)),calc(min(100%, 100%)));
        display: grid;
        grid-template-columns: repeat(auto-fill,calc(min(98%, 30rem)));
        justify-content: space-around;
        grid-auto-rows: 7rem;
        padding: 1rem 0 1rem 0;
        gap: 1rem 0%;
        margin: auto;
        .habit-item{

        }
    }
}
