@import '../../Misc/mixins';

.habits-item{
    @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%))); 
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .habits-item-title{
        font-size: 20px;
    }
    .habits-item-pending-icon{
        font-size: 1.8rem;
        color: orange;
    }
    .habits-item-complete-icon{
        font-size: 1.8rem;
        color: green;
    }
}
.habits-list-item{
    @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%))); 
    display: grid;
    grid-template:1fr 1fr/ repeat(4,1fr);
    justify-items: center;
    align-items: center;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .habits-list-item-title{
        grid-column: 1 / span 4;
        font-size: 20px;
    }
    .habits-list-item-weekdays{
        grid-column: 1 / span 3;
    }
    .delete-habit-icon{
        grid-area: 1 / 3 / span 2 / span 1;
        font-size: 1.8rem;
        background-color: aqua;
    }
}