@import '../../Misc/mixins';

.habits{
    .habit-controls{
        @include widthAndHeight(calc(min(70rem, 100%)),10vh);
        @include grid(1fr,1fr 2fr 1fr);
        justify-items: center;
        align-items: center;
        margin: auto;
        position: -webkit-sticky;
        position: sticky;
        background: white;
        .add-new-habit {
            transform: translateY(2px)
        }
        .habit-list-label{
            @include widthAndHeight(calc(min(100%, 20rem)),calc(min(100%, 2.6rem)));
            @include flex;
            gap: 0.5rem;
            border-radius: 5px;
            transition: transform 0.3s, box-shadow 0.3s;
        }
    }
    .habit-controls-dark{
        @extend .habit-controls;
        background: #121212;
    }
    .habit-week-range{
        @include widthAndHeight(calc(min(70rem, 100%)),7vh);
        @include flex;
        gap: 1rem;
        margin: auto;
        position: -webkit-sticky;
        position: sticky;
        background: white;
    }
    .habit-week-range-dark{
        @extend .habit-week-range;
        background: #121212;
    }
    .habit-list{
        @include widthAndHeight(calc(minmax(70rem, 100%)),calc(min(100%, 100%)));
        display: grid;
        grid-template-columns: repeat(auto-fit,min(33rem, 100%));
        grid-auto-rows: 8rem;
        justify-content: center;
        padding: 1rem 0 7vh 0;
        gap: 1rem ;
        margin: auto;
        .habit-list-item{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%, 100%)));
            @include grid(1fr 1fr, 100%);
            align-items: center;
            .habit-list-item-title{
                @include widthAndHeight(100%,100%);
                @include flex;
                padding: 2px 0 0 0.5rem ;
                cursor: pointer;
                transition: background-color 0.3s;
                .habit-list-item-title-text{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    padding: 2px 0 0 0;
                    transition: font-size 0.3s;
                }
            }
            .habit-list-item-title:hover{
                background-color: rgba(128, 128, 128, 0.25);
            }
            .habit-weekdays{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%, 100%)));
                display: grid;
                grid-template-columns: repeat(auto-fit,min(calc(100%/7), 100%));
                justify-content: center;
                border-top: 1px dotted gray ;
                .habit-weekday{
                    @include flex(center,center);
                    flex-direction: column;
                    gap: 0.3rem;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    .habit-weekday-label{
                        font-size: 0.9rem;
                    }
                    .habit-weekday-icon{
                        font-size: 30px;
                    }
                    .Pending{
                        color: rgb(255, 175, 28);
                    }
                    .Complete{
                        color: rgb(1, 194, 1);
                    }
                }
                .habit-weekday:hover{
                    background-color: rgba(128, 128, 128, 0.25);
                    .habit-weekday-label{
                        font-size: 0.95rem;
                    }
                    .habit-weekday-icon{
                        font-size: 33px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .habits{
        .habit-controls{
            @include widthAndHeight(calc(min(98%, 70rem)),15vh);
            @include grid(1fr 1fr,1fr 1fr);
            .search-habits{
                grid-area: 1 / 1 / span 1 / span 2;
                order: 0;
            }
            .sort-habits{
                order: 1;
            }
            .add-new-habit{
                order: 2;
            }
        }
    }
}