@import '../../../Misc//_mixins';

.toolbar{
    @include widthAndHeight(calc(min(70rem, 100%)),10vh);
    position: -webkit-sticky;
    position: sticky;
    top: 6vh;
    z-index: 49;
    @include grid(100%,1fr 2fr 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;
    background: white;
    .toolbar-sort-wrapper{
        width: 100%;
        @include flex;
        .toolbar-sort-normal{}
        .toolbar-sort-small{}
    }
    .toolbar-search-wrapper{
        width: 100%;
        @include flex;
        .clear-input{
            font-size: 26px;
        }
    }
    .toolbar-add-new-item-wrapper{
        width: 100%;
        @include flex;
        .toolbar-add-new-item-normal{}
        .toolbar-add-new-item-small{}
    }
}
.toolbar-dark{
    @extend .toolbar;
    background: #121212;
}

@media only screen and (max-width: 769px) {
    .toolbar{
        @include widthAndHeight(calc(min(100%, 70rem)),20vh);
        @include grid(1fr 1fr,1fr 1fr);
        .toolbar-search-wrapper{
            grid-area: 1 / 1 / span 1 / span 2;
            order: 0;
        }
        .toolbar-sort-wrapper{
            order: 1;
        }
        .toolbar-add-new-item-wrapper{
            order: 2;
        }
    }
}
