@import '../../../Misc//_mixins';

.toolbar{
    @include widthAndHeight(calc(min(70rem, 100%)),10vh);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 49;
    @include grid(100%,1fr 2fr 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;
    background: white;
    .toolbar-sort-wrapper{
        width: 100%;
        @include flex;
    }
    .toolbar-search-wrapper{
        width: 100%;
        @include flex;
        .toolbar-clear-search-input-wrapper{
            @include flex;
            cursor: pointer;
            border-radius: 20px;
            .toolbar-clear-search-input-icon{
                font-size: 26px;
            }
        }
    }
    .toolbar-search-compact-wrapper{
        @include flex;
        gap: 0.5rem;
        .toolbar-search-compact-icon{
            font-size: 26px;
        }
        .clear-input{
            font-size: 26px;
        }
    }
    .toolbar-add-new-item-wrapper{
        width: 100%;
        @include flex;
        .toolbar-add-new-item-button{
            gap: 0.1rem;
            .toolbar-add-new-item-button-icon{
                font-size: 23px;
            }
            .toolbar-add-new-item-button-text{
                transform: translateY(1px);
            }
        }
    }
}
.toolbar-dark{
    @extend .toolbar;
    background: #121212;
}

@media only screen and (max-width: 769px) {
    .toolbar{
        @include widthAndHeight(calc(min(100%, 70rem)),10vh);
        @include flex;
        gap: 1rem;
        .toolbar-add-new-item-wrapper{
            .toolbar-add-new-item-button{
                .toolbar-add-new-item-button-icon{
                    font-size: 23px;
                }
                .toolbar-add-new-item-button-text{
                    display: none;
                }
            }
        }
    }
}
