@import '../../Misc/mixins';

.add-new-todo-form{
    @include widthAndHeight(calc(min(100%,45rem)),fit-content); 
    @include flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    gap: 1.5rem;
    .add-new-todo-controls{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-around,center);
        gap: 1rem;
        .archive-todo{
            font-size: 2rem;
            color: orange;
        }
        .delete-todo{
            font-size: 2rem;
            color: red;
        }
    }
    .add-new-todo-title{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
    }
    .add-new-todo-description{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%)));      
    }
    .add-new-todo-buttons{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-around,center);
    }
}