@import '../../Misc/mixins';

.todo-item{
    @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%, 100%)));
    display: grid;
    grid-template: repeat(10,10%) / repeat(10,10%) ;
    border-radius: 5px;
    padding: 2%;
    transition: 0.3s;
    .todo-item-title{
        @include flex(center,center);
        font-size: 16px;
        grid-area: 3 / 1 / span 10 / span 10;
    }
    .todo-item-icons{
        @include flex(space-around,center);
        grid-area: 1 / 8 / span 3 / span 4; 
        .link-detailed-todo{
            .detailed-todo-icon{
                color: rgb(70, 116, 255);
                font-size: 24px;
                transform: translateY(2px);
            }
        }
        .delete-todo-icon{
            font-size: 24px;
            color: red;
        }
        .change-todo-status-icon{
            font-size: 24px;
        }
        .Pending{
            color: rgb(255, 175, 28);
        }
        .Complete{
            color: rgb(1, 194, 1);
        }
    }
}