@import '../../Misc/mixins';

.schedule{
    @include widthAndHeight(calc(min(100%,100%)),calc(min(100%,100%))); 
    margin-top: 0.5rem;
    .schedule-title{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%,100%))); 
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .schedule-date{
        @include widthAndHeight(calc(min(100%, 50rem)),calc(min(100%,100%))); 
        @include flex(space-around,center);
        margin: auto;
        padding: 0.5rem;
        gap: 1rem;
        .schedule-datepicker-wrapper{
            transform: translateY(-2px);
        }
        .schedule-date-button{
            @include flex;
            gap: 0.2rem;
        }
    }
    .schedule-list{
        @include widthAndHeight(calc(minmax(70vw, 100%)),calc(min(100%, 100%)));
        display: grid;
        grid-template-columns: calc(min(40rem, 100%));
        grid-auto-rows: 3.5rem;
        justify-content: center;
        padding: 1rem 0 7vh 0;
        gap: 1rem ;
        margin: auto;
        .schedule-item{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%, 100%)));   
            @include flex;
            .schedule-item-time{
                @include widthAndHeight(calc(min(100%, 10rem)),calc(min(100%, 100%)));   
                @include flex;
                padding: 2px 0 0 0.5rem ;
                cursor: pointer;
                transition: background-color 0.3s;
                .schedule-item-time-text{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    padding: 2px 0 0 0;
                    transition: font-size 0.3s;
                }
            }
            .schedule-item-title{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%, 100%)));   
                @include flex;
                grid-area: 1 / 2 / span 1 / span 1 ;
                padding: 2px 0 0 0.5rem ;
                cursor: pointer;
                transition: background-color 0.3s;
                .schedule-item-title-text{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    padding: 2px 0 0 0;
                    transition: font-size 0.3s;
                }
            }
            .schedule-item-title:hover{
                background-color: rgba(128, 128, 128, 0.25);
            }
        }
        .schedule-todo{
            border-left: 5px solid blue;
        }
        .schedule-goal{
            border-left: 5px solid red;
        }
        .schedule-habit{
            border-left: 5px solid greenyellow;
        }
    }
}

@media only screen and (max-width: 550px) {
    .schedule{
        .schedule-date{
            .schedule-date-button{
                width: 1rem;
                .schedule-date-button-text{
                    display: none;
                }
            }
        }
    }
}