@import '../../../Misc/mixins';

.navbar{
    @include widthAndHeight(calc(min(100%,100%)),calc(min(100%,7vh)));
    position: fixed;
    top:0;
    z-index: 50;
    @include grid(100%,1fr 1fr 1fr);
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    max-width: 100%;
    .navbar-icon-container{
        @include widthAndHeight(calc(min(100%, 40px)),calc(min(100%,40px)));
        @include flex;
        border-radius: 20px;
        cursor: pointer;
        transition: box-shadow 0.15s , background 0.15s ;
    }
    .navbar-icon-container:hover{
        background: white;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    }
    .navbar-icon-container-dark{
        @extend .navbar-icon-container;
    }
    .navbar-icon-container-dark:hover{
        background: #121212;
        box-shadow: 0 1px 6px rgba(255, 255, 255, 1);
    }
    .navbar-main{
        @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
        @include flex(flex-start,center);
        padding: 0 0rem 0 0.65rem;
        .toggle-sidebar-icon-container{
            .toggle-sidebar-icon{
                color: white;
                font-size: 23px;
            }
            .toggle-sidebar-icon-dark{
                color: white;
                font-size: 23px;
            }
        }
        .toggle-sidebar-icon-container:hover{
            .toggle-sidebar-icon{
                color: black;
                font-size: 23px;
            }
        }
    }
    .navbar-title{
        @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
        @include flex;
        color: white;
        grid-area: 1 / 2 / span 1 / span 1;
    }
    .navbar-utility{
        @include widthAndHeight(calc(min(100%, 7rem)),calc(min(100%,100%)));
        @include flex(center,center);
        gap: 1rem;
        justify-self: flex-end;
        grid-area: 1 / 3 / span 1 / span 1;
        .nav-notifications-icon-container{
            .nav-notifications-icon{
                color: white;
                font-size: 28px;
            }
            .nav-notifications-icon-dark{
                font-size: 28px;
            }
        }
        .nav-notifications-icon-container:hover{
            .nav-notifications-icon{
                color: black;
            }
        }
        .toggle-dark-mode{
            .toggle-dark-mode-moon{
                color: rgb(255, 255, 175);
                font-size: 26px;
            }
            .toggle-dark-mode-sun{
                color: rgb(255, 166, 87);
                font-size: 28px;
            }
        }
        .sign-buttons{
            .sign-icon{
                color: white;
                font-size: 26px;
            }
            .sign-icon-dark{
                color: white;
                font-size: 26px;
            }
        }
        .sign-buttons:hover{
            .sign-icon{
                color: black;
                font-size: 26px;
            }
            .sign-icon-dark{
                font-size: 26px;
            }
        }
    }
}
