@import '../../../Misc/mixins';

.nav-notifications {
    @include widthAndHeight(calc(min(100%, 23rem)),fit-content);
    @include grid(20% 80%,100%);
    min-height: 5rem;
    max-height: 30rem;
    position: fixed;
    top: 7.5vh;
    right: 0.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    padding: 1rem;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    z-index: 50;
    .nav-notifications-date-picker{
        @include widthAndHeight(calc(min(100%,45rem)),fit-content); 
        @include flex;
        .notifications-date-picker{
        }
        .notifications-date-button{
            width: 1rem;
            @include flex;
            .notifications-date-icon{
                font-size: 1.5rem;
            }
        }
    }
    .nav-notifications-list{
        @include flex;
        flex-direction: column;
        @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
        gap: 0.5rem;
        .nav-notification{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
            @include grid(100%,30% 70%);
            align-items: center;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 5px;
            color: white;
            transition: 0.3s;
            background-color: red;
        }
        .nav-notification:hover{
            background-color: white;
            color: black;
        }
    }
}
.nav-notifications-light{
    box-shadow: 0px 0px 2px black;
    background: white;
}
.nav-notifications-dark{
    box-shadow: 0px 0px 2px white;
    background: #121212;
}