@import '../../../Misc/mixins';

.nav-sidebar{
    height: calc(min(100%,93vh));
    position: fixed;
    left: 0;
    top: 7vh;
    display: grid;
    grid-auto-rows: calc(min(100%,2.6rem));
    color: white;
    gap: 0.3rem;
    overflow-x: hidden;
    padding: 1rem 0.5rem 1rem 0.5rem;
    box-shadow: 0 3px 4px black;
    transition: width 0.3s;
    border-top: 2px white dotted;
    .nav-icon{
        position: relative;
        display: block;
        font-size: 26px;
    }
    .toggle-sidebar{
        justify-content: center !important;
    }
    .toggle-sidebar-arrow-full{
        transform: rotateY(180deg);
        transition: transform 0.7s !important;
    }
    .toggle-sidebar-arrow-compact{
        transform: rotateY(0);
        transition: transform 0.7s !important;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    .nav-link-active{
        @extend .nav-link;
        background: white;
        color: black ;
        border-radius: 30px;
    }
    .nav-link-active-dark{
        @extend .nav-link;
        background: rgb(5, 7, 12);
        color: white;
    }
    .nav-element{
        @include flex(flex-start,center);
        white-space: nowrap;
        position: relative;
        padding: 0 0.5rem 0 0.5rem ; 
        gap: 1rem;
        transition: 0.3s;
        border-radius: 20px;
        cursor: default;
        .navigation-todo-icon{
        }
        .navigation-journal-icon{
        }
        .navigation-habit-icon{
        }
        .navigation-goal-icon{
        }
    }
    .nav-element-dark{
        @extend .nav-element;
    }
    .nav-element:hover{
        background: white;
        color: black ;
    }
    .nav-element-dark:hover{
        background: black;
        color: white;
    }
}
.sidebar-full{
    width: calc(min(100%,15rem));
}
.sidebar-compact{
    width: calc(min(100%,3.5rem));
}
.sidebar-hidden{
    display: none;
}

@media only screen and (max-width: 900px) {
    .nav-sidebar{
        width: calc(min(100%,20rem));
        .nav-text{
            display: block !important;
        }
        .toggle-sidebar{
            display: none;
        }
    }
}