@import '../../Misc/mixins';
.journal{
    @include flex;
    .journal-form{
        @include widthAndHeight(calc(min(100%,45rem)),fit-content); 
        @include flex;
        flex-direction: column;
        gap: 2rem;
        .journal-date{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%))); 
            @include flex(space-around,center);
            .journal-date-button{
                width: 10rem;
                @include flex;
                gap: 0.2rem;
            }
        }
        .journal-entry{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%))); 
            @include flex;
        }
        .journal-button{
            @include widthAndHeight(calc(min(100%, 180px)),40px); 
            @include flex;
        }
    } 
}

@media only screen and (max-width: 550px) {
    .journal{
        .journal-form{
            .journal-date{
                .journal-date-button{
                    width: 1rem;
                    .journal-date-button-text{
                        display: none;
                    }
                }
            }
        }
    }
}