@import '../../Misc/mixins';
.journal{
    .journal-form{
        @include widthAndHeight(calc(min(100%,45rem)),fit-content); 
        @include flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        .journal-date{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%))); 
            @include flex;
        }
        .journal-entry{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%))); 
            @include flex;
        }
        .journal-button{
            @include widthAndHeight(calc(min(100%, 180px)),40px); 
            @include flex;
        }
    } 
}