@import './Misc/mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

// Color mode
.nav-dark{
    background: rgb(19, 30, 44);
    transition: background 0.3s;
}
.nav-light{
    background: rgb(74, 0, 224);
    transition: background 0.3s;
}
.item{
    background: white;
}
.item-dark{
    background: rgb(21, 34, 49);
}
.color-white{
    color: white;
}
#app {
    text-align: center;
    @include flex;
    max-width: 100%;
    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: calc(min(100%,100vw));
        height: calc(min(100%,100vh));
        background: rgba(0, 0, 0, 0.7);
        z-index: 99;
        @include flex(center,center);
    }
    .border-radius{
        border-radius: 4px;
    }
    .box-shadow{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        transition: box-shadow 0.3s;
    }
    .box-shadow-dark{
        box-shadow: 0px 0px 4px rgb(255, 255, 255);
        transition: box-shadow 0.3s;
    }
    .button-fab{
        @include widthAndHeight(calc(min(100%, 150px)),calc(min(100%, 36px)));  
        font-size: 16px;
        padding: 4px 0 0 0 ;
        text-transform: none;
    }
    .date-picker{
        @include widthAndHeight(calc(min(100%, 200px)),calc(min(100%, 36px)));
    }
    .display-none{
        display: none;
    }
    .focus{
        transition: transform 0.3s;
    }
    .focus:focus{
        transform: scale(1.005);
    }
    .hover-filter{
        transition: 0.3s;
    }
    .hover-filter:hover{
        filter:drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
    }
    .hover-filter-dark{
        transition: 0.3s;
    }
    .hover-filter-dark:hover{
        filter:drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.7));
    }
    .icon{
        font-size: 22px;
    }
    .icon-interactive{
        align-self: center;
        cursor: pointer;
        transition: 0.2s;
    }
    .icon-interactive:hover{
        transform: scale(1.15);
        filter:drop-shadow(1px 2px 1px gray);
    }
    .input{
        font-size: 16px;
    }
    .link{
        text-decoration: none;
        color: inherit;
    }
    .link-dark{
        @extend .link;
        text-decoration: none;
        color: white;
    }
    .nav-icon{
        position: relative;
        display: block;
        font-size: 26px;
    }
    .page{
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
        margin-left: 0 ;
        padding-top: 6vh;
        transition: 0.3s;
    }
    .page-full{
        @extend .page;
        width: calc(100%-3.5rem);
        margin-left: 3.5rem ;
    }
    .page-compact{
        @extend .page;
        width: calc(100%-15rem);
        margin-left: 15rem ;
    }
    .select{
        @include widthAndHeight(calc(min(100%, 150px)),calc(min(100%, 36px)));
        font-size: 16px;
    }
    // Transition Animations
    .fade-in {
        animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @keyframes fade-in {
        0% {
        opacity: 0;
        transform: translateY(-15px);
        }
        100% {
        opacity: 1;
        transform: translateY(0);
        }
    }
    .text-focus-in {
        animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @keyframes text-focus-in {
        0% {
            filter: blur(6px);
        opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }
    .scale-in {
        animation: scale-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes scale-in {
        0% {
            opacity: 0;
            transform: scale(0.97);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    } 
    .opacity-transition{
        animation: opacity-transition 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes opacity-transition {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .slide-in-top {
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes slide-in-top {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 900px) {
    #app {
        .page-full{
            width: 100rem;
            margin-left: 0;
        }
        .page-compact{
            width: 100rem;
            margin-left: 0;
        }
    }
}