@import './Misc/mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

// Color mode
.nav-dark{
    background: rgb(21, 34, 49);
    transition: background 0.3s;
}
.nav-light{
    background: rgb(74, 0, 224);
    transition: background 0.3s;
}
.bg-dark{
    background: rgb(9, 12, 20);
    transition: background 0.3s;
}
.bg-light{
    background: white;
    transition: background 0.3s;
}
.item{
    background: white;
}
.item-dark{
    background: rgb(21, 34, 49);
}
.color-white{
    color: white;
}
#app {
    text-align: center;
    @include flex;
    .border-radius{
        border-radius: 4px;
    }
    .box-shadow{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        transition: box-shadow 0.3s;
    }
    .box-shadow-dark{
        box-shadow: 0px 0px 4px rgb(255, 255, 255);
        transition: box-shadow 0.3s;
    }
    .button{
        @include widthAndHeight(calc(min(100%, 160px)),calc(min(100%, 36px)));
        background: white;
        border: none;
        color: inherit;
        padding: 0;
        font: inherit;
        outline: inherit;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        text-align: center;
    }
    .button-dark{
        @extend .button;
        color: white;
        background: rgb(9, 12, 20);
        box-shadow: 0px 0px 4px rgb(255, 255, 255);
    }
    .date-picker{
        @include widthAndHeight(calc(min(100%, 180px)),calc(min(100%, 36px)));
        border: none;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
        font-size: 16px;
        text-align: center ;
        cursor: pointer;
    }
    .date-picker-dark{
        @extend .date-picker;
        color: white;
        background: rgb(9, 12, 20);
        box-shadow: 0px 0px 4px rgb(255, 255, 255);
    }  
    .display-none{
        display: none;
    }
    .focus{
        transition: transform 0.3s;
    }
    .focus:focus{
        transform: scale(1.005);
    }
    .hover{
        transition: box-shadow 0.3s;
    }
    .hover-dark{
        transition: box-shadow 0.3s;
    }
    .hover:hover{
        box-shadow: 0px 0px 6px rgb(0, 0, 0); 
    }
    .hover-dark:hover{
        box-shadow: 0px 0px 6px rgb(255, 255, 255); 
    }
    .hover-filter{
        transition: 0.3s;
    }
    .hover-filter:hover{
        filter:drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
    }
    .hover-filter-dark{
        transition: 0.3s;
    }
    .hover-filter-dark:hover{
        filter:drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.7));
    }
    .icon{
        font-size: 22px;
    }
    .input{
        font-size: 16px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        border: none;
        border-radius: 4px;
        padding: 2%;
        background: white;
        transition: background 0.3s;
    }
    .input-dark{
        @extend .input;
        color: white;
        background: rgb(9, 12, 20);
        box-shadow: 0px 0px 4px rgb(255, 255, 255);
    }
    .link{
        text-decoration: none;
        color: inherit;
    }
    .link-dark{
        @extend .link;
        text-decoration: none;
        color: white;
    }
    .nav-icon{
        position: relative;
        display: block;
        font-size: 26px;
    }
    .page{
        min-height: 94vh;
        width: 100%;
        margin-top: 6vh;
    }
    .select{
        @include widthAndHeight(calc(min(95%,11rem)),calc(min(95%, 36px)));
        background: white;
        padding: 0;
        outline: inherit;
        border: none;
        color: black;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
    }
    .select-dark{
        @extend .select;
        color: white;
        background: rgb(9, 12, 20);
        box-shadow:0px 0px 4px rgb(255, 255, 255);
    }
    //App specific styles
    .weekdays-selector{
        grid-area: 10 / 1  / span 6 / span 10;
        @include flex(space-around,center);
        flex-wrap: wrap;
        button{
            @include widthAndHeight(calc(min(100%, 5rem)),calc(min(100%,2.4rem))); 
            background: none;
            padding: 0;
            font: inherit;
            outline: inherit;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
            border-radius: 4px;
            text-align: center;
            transition: box-shadow 0.3s;
        }
        button:hover{
            box-shadow: 0px 0px 6px rgb(0, 0, 0); 
        }
        .selector-on{
            background-color: green;
            color: white;
        }
    }
    .weekdays-selector-dark{
        @extend .weekdays-selector;
        button{
            color: white;
        }
        .selector-on{
            background-color: rgb(20, 30, 48);
            color: white;
        }
    }
    // Transition Animations
    .fade-in {
        animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @keyframes fade-in {
        0% {
        opacity: 0;
        transform: translateY(-15px);
        }
        100% {
        opacity: 1;
        transform: translateY(0);
        }
    }
    .text-focus-in {
        animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @keyframes text-focus-in {
        0% {
            filter: blur(6px);
        opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }
    .scale-in {
        animation: scale-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes scale-in {
        0% {
            opacity: 0;
            transform: scale(0.97);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    } 
    .opacity-transition{
        animation: opacity-transition 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes opacity-transition {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .slide-in-top {
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes slide-in-top {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
