@import '../../Misc/mixins';

.auth{
    @include flex;
    .auth-card{
        @include widthAndHeight(calc(min(98%,30rem)),calc(min(90vh, 70vh)));
        @include grid(10% 80% 10%,100%);
        align-items: center;
        .auth-form{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
            @include grid(4fr 1fr,100%);
            align-items: center;
            .auth-inputs{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
                @include flex(center,center);
                gap: 2.2rem;
                flex-direction: column;
            }
            .auth-buttons{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
                @include flex(space-around,center);
            }
        }
        .auth-switch{
            cursor: pointer;
            font-weight: 500;
            transition: font-size 0.3s;
            color: darkblue;
        }
        .auth-switch:hover{
            font-size: 1.35rem;
        }
    }
}
