@import '../../Misc/mixins';

.auth{
    @include flex(center,center);
    .auth-card{
        @include widthAndHeight(calc(min(95%,30rem)),calc(min(90vh, 70vh)));
        @include grid(15% 70% 15%,100%);
        justify-items: center;
        align-items: center;
        border-radius: 5px;
        .auth-title{
            color: white;
            font-size: 30px;
        }
        .auth-form{
            @include widthAndHeight(calc(min(100%, 90%)),calc(min(100%,100%)));
            display: grid;
            justify-items: center;
            align-items: flex-end;
            .authInput{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,2.5rem)));
                font-size: 16px;
                border-radius: 5px;
                padding:0 2% 0 2% ;
            }
            .auth-button{
                background-color: white;
            }
        }
        .login{
            grid-template: repeat(3, 33.33%) / 100% ;
        }
        .signup{
            grid-template: repeat(5, 20%) / 100% ;
        }
        .auth-switch{
            font-size: 20px;
            background: none;
            color: white;
            border: none;
        }
    }
}
