@import '../../Misc/mixins';

.auth{
    @include flex;
    .auth-card{
        @include widthAndHeight(calc(min(98%,30rem)),calc(min(98vh,35rem)));
        @include grid(10% 80% 10%,100%);
        align-items: center;
        border-radius: 10px;
        padding: 10px 2% 10px 2%;
        border: 2px grey solid;
        .auth-form{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
            @include grid(4fr 1fr,100%);
            align-items: center;
            .auth-inputs{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
                @include flex(center,center);
                gap: 2.2rem;
                flex-direction: column;
            }
            .auth-buttons{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
                @include flex(space-around,center);
            }
        }
        .auth-switch{
            @include widthAndHeight(calc(min(100%, 20rem)),calc(min(100%,2.8rem)));
            @include flex;
            justify-self: center;
            cursor: pointer;
            font-weight: 500;
            font-size: 1.2rem;
            border-radius: 30px;
            transition: box-shadow 0.15s;
        }
        .auth-switch:hover{
            box-shadow: 0 1px 6px gray;
        }
    }
}
