@import '../../Misc/mixins';

.profile{
    @include flex;
    .profile-card{
        @include widthAndHeight(calc(min(100%, 40rem)),fit-content);
        @include flex;
        flex-direction: column;
        padding: 15px;
        gap: 1rem;
        .profile-card-item{
            @include widthAndHeight(calc(min(100%, 40rem)),3.5rem);   
            @include flex;
        }
        .profile-buttons{
            @include flex(space-around,center);
            flex-wrap: wrap;
        }
    }
}
