@import '../../Misc/mixins';

.add-new-goal-form{
    @include widthAndHeight(calc(min(98%,45rem)),fit-content); 
    @include flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    gap: 2rem;
    .add-new-goal-controls{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-around,center);
        gap: 1rem;      
        .archive-goal{
            justify-self: start;
            @include flex(center,center);
            .archive-goal-icon{
                font-size: 2rem;
                color: orange;
            }
        }   
        .delete-goal{
            @include flex(center,center);
            .delete-goal-icon{
                font-size: 2rem;
                color: red;
            }
        }
    }
    .add-new-goal-alarm-switches{
        @include flex;
        gap: 1rem;
    }
    .add-new-goal-title{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
    }
    .add-new-goal-paired-habit{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
    }
    .add-new-goal-buttons{
        @include widthAndHeight(calc(min(100%,100%)),calc(min(100%, 100%))); 
        @include flex(space-around,center);
    }
}