@import '../../Misc/mixins';

.goals{
    .goal-controls{
        @include widthAndHeight(calc(min(70rem, 100%)),10vh);
        position: -webkit-sticky;
        position: sticky;
        top: 6vh;
        z-index: 49;
        @include grid(100%,1fr 2fr 1fr);
        justify-items: center;
        align-items: center;
        margin: auto;
        background: white;
        .add-new-goal{
            transform: translateY(2px)
        }
    }
    .goal-controls-dark{
        @extend .goal-controls;
        background: #121212;
    }
    .loading{
        height: 90%;
    }
    .goal-list{
        @include widthAndHeight(calc(minmax(70rem, 100%)),calc(min(100%, 100%)));
        display: grid;
        grid-template-columns: repeat(auto-fit,min(33rem, 100%));
        grid-auto-rows: 3.5rem;
        justify-content: center;
        padding: 1rem 0 7vh 0;
        gap: 1rem ;
        margin: auto;
        .goal-item{
            @include widthAndHeight(calc(minmax(70rem, 100%)),calc(min(100%, 100%)));
            @include grid(100%,20% 80%);
            justify-items: center;
            align-items: center;
            .goal-item-title{
                @include widthAndHeight(100%,100%);
                @include flex;
                padding: 2px 0 0 0.5rem ;
                cursor: pointer;
                transition: background-color 0.3s;
                .goal-item-title-text{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    padding: 2px 0 0 0;
                    transition: font-size 0.3s;
                }
            }
            .goal-item-title:hover{
                background-color: rgba(128, 128, 128, 0.25);
            }
            .change-goal-status{
                @include widthAndHeight(100%,100%);
                @include flex;
                cursor: pointer;
                transition: background-color 0.3s;
                .Pending{
                    font-size: 30px;
                    color: rgb(255, 175, 28);
                }
                .Complete{
                    font-size: 30px;
                    color: rgb(1, 194, 1);
                }
            }
            .change-goal-status:hover{
                background-color: rgba(128, 128, 128, 0.25);
                .Pending{
                    font-size: 33px;
                }
                .Complete{
                    font-size: 33px;
                }
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .goals{
        .goal-controls{
            @include widthAndHeight(calc(min(98%, 70rem)),15vh);
            @include grid(1fr 1fr,1fr 1fr);
            .search-goals{
                grid-area: 1 / 1 / span 1 / span 2;
                order: 0;
            }
            .sort-goals{
                order: 1;
            }
            .add-new-goal{
                order: 2;
            }
        }
    }
}