@import '../../Misc/mixins';

.navbar{
    @include widthAndHeight(calc(min(100%,100%)),calc(min(100%,6vh)));
    position: fixed;
    top:0;
    z-index: 50;
    @include grid(100%,1fr 1fr 1fr);
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    max-width: 100%;
    .navbar-icon-container{
        @include widthAndHeight(calc(min(100%, 35px)),calc(min(100%,35px)));
        @include flex;
        border-radius: 10px;
        cursor: pointer;
        transition: box-shadow 0.15s , background 0.15s ;
    }
    .navbar-icon-container:hover{
        background: white;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    }
    .navbar-icon-container-dark{
        @extend .navbar-icon-container;
    }
    .navbar-icon-container-dark:hover{
        background: #121212;
        box-shadow: 0 1px 6px rgba(255, 255, 255, 0.5);
    }
    .navbar-main{
        @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
        @include flex(flex-start,center);
        padding: 0 0rem 0 0.65rem;
        .toggle-sidebar-icon-container{
            .toggle-sidebar-icon{
                color: white;
                font-size: 23px;
            }
            .toggle-sidebar-icon-dark{
                color: white;
                font-size: 23px;
            }
        }
        .toggle-sidebar-icon-container:hover{
            .toggle-sidebar-icon{
                color: black;
                font-size: 23px;
            }
        }
    }
    .navbar-title{
        @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
        @include flex;
        color: white;
        grid-area: 1 / 2 / span 1 / span 1;
    }
    .navbar-utility{
        @include widthAndHeight(calc(min(100%, 10rem)),calc(min(100%,100%)));
        @include grid(100%, 1fr 1fr 1fr);
        grid-area: 1 / 3 / span 1 / span 1;
        justify-self: flex-end;
        align-items: center;
        justify-items: center;
        .nav-notifications-icon-container{
            .nav-notifications-icon{
                color: white;
                font-size: 28px;
            }
            .nav-notifications-icon-dark{
                font-size: 28px;
            }
        }
        .nav-notifications-icon-container:hover{
            .nav-notifications-icon{
                color: black;
            }
        }
        .toggle-dark-mode{
            .toggle-dark-mode-moon{
                color: rgb(255, 255, 175);
                font-size: 26px;
            }
            .toggle-dark-mode-sun{
                color: rgb(255, 166, 87);
                font-size: 28px;
            }
        }
        .sign-buttons{
            .sign-icon{
                color: white;
                font-size: 26px;
            }
            .sign-icon-dark{
                color: white;
                font-size: 26px;
            }
        }
        .sign-buttons:hover{
            .sign-icon{
                color: black;
                font-size: 26px;
            }
            .sign-icon-dark{
                font-size: 26px;
            }
        }
    }
    .nav-sidebar{
        height: calc(min(100%,94vh));
        position: fixed;
        left: 0;
        top: 6vh;
        display: grid;
        grid-auto-rows: calc(min(100%,2.6rem));
        color: white;
        gap: 0.3rem;
        overflow-x: hidden;
        padding: 1rem 0.5rem 1rem 0.5rem;
        box-shadow: 0 3px 4px black;
        transition: width 0.3s;
        border-top: 2px white dotted;
        .nav-icon{
            position: relative;
            display: block;
            font-size: 26px;
        }
        .toggle-sidebar{
            justify-content: center !important;
        }
        .toggle-sidebar-arrow-full{
            transform: rotateY(180deg);
            transition: transform 0.7s !important;
        }
        .toggle-sidebar-arrow-compact{
            transform: rotateY(0);
            transition: transform 0.7s !important;
        }
        .nav-link{
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
        .nav-link-active{
            @extend .nav-link;
            background: white;
            color: black ;
            border-radius: 30px;
        }
        .nav-link-active-dark{
            @extend .nav-link;
            background: rgb(5, 7, 12);
            color: white;
        }
        .nav-element{
            @include flex(flex-start,center);
            white-space: nowrap;
            position: relative;
            padding: 0 0.5rem 0 0.5rem ; 
            gap: 1rem;
            transition: 0.3s;
            border-radius: 20px;
            cursor: default;
        }
        .nav-element-dark{
            @extend .nav-element;
        }
        .nav-element:hover{
            background: white;
            color: black ;
        }
        .nav-element-dark:hover{
            background: black;
            color: white;
        }
    }
    .sidebar-full{
        width: calc(min(100%,15rem));
    }
    .sidebar-compact{
        width: calc(min(100%,3.5rem));
    }
    .sidebar-hidden{
        display: none;
    }
    .nav-notifications {
        @include widthAndHeight(calc(min(100%, 20rem)),fit-content);
        @include grid(100%,100%);
        min-height: 5rem;
        max-height: 30rem;
        position: fixed;
        top: 8vh;
        right: 1vh;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: 5px;
        backdrop-filter: blur(20px);
        padding: 1rem;
        gap: 1rem;
        justify-items: center;
        align-items: center;
        .nav-notification{
            @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 5px;
            color: white;
            transition: 0.3s;
        }
        .nav-notification:hover{
            background-color: white;
            color: black;
        }
    }
    .nav-notifications-light{
        box-shadow: 0 1px 6px rgba(0,0,0,0.25);
        border: 1px solid rgba(255, 255, 255,0.3);
    }
    .nav-notifications-dark{
        box-shadow: 0 1px 6px rgba(255,255,255,0.25);
        border: 1px solid rgba(0, 0, 0,0.3);
    }
}

@media only screen and (max-width: 900px) {
    .navbar{
        padding: 0 0rem 0 0rem;
        .navbar-utility{
            @include grid(100%, 1fr 1fr 1fr);
            padding: 0 0.2rem 0 0rem;
            gap: 0.5rem;
        }
        .nav-sidebar{
            width: calc(min(100%,20rem));
            .nav-text{
                display: block !important;
            }
            .toggle-sidebar{
                display: none;
            }
        }
    }
}